.el-drawer__header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 10px;
  padding: 0px 16px;
  height: 50px;
  background-color: #3145a5 !important;
  margin: 0px;

  .system-drawer-back {
    max-width: 30px;
    max-height: 30px;
    color: #fff;
  }

  .system-drawer-title {
    flex: 1;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
  }

  .system-drawer-expand {
    color: #fff;
    font-size: 12px;

    &__icon {
      margin-right: 4px;
      font-size: 14px;
    }
  }
}

.el-drawer__body {
  scrollbar-width: none;
}
